*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: $black;
    color: $white;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.btn-styled{
    background: $white;
    padding: 0.5rem 0.8rem;
    padding-right: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: block;
    width: fit-content;
    color: $black;
    font-size: 0.8rem;
    margin-right: 1rem;
    div{
        position: absolute;
        right: 0;
        top: 0;
        background: $main;
        width: 30%;
        font-size: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
    }
    &:hover{
        div{
            width: 100%;
        }
    }
}

.link-styled{
    position: relative;
    &::after{
        content: "";
        width: 0;
        height: 0.2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $main;
        transition: width 0.2s ease;
    }

    &:hover{
        &::after{
            width: 30%;
        }
    }
}

section{
    padding-top: 7rem;
    transition: all 0.5s ease-in;
    transform: translateY(5rem);
}

.hiden{
    opacity: 0;
}
.animate{
    opacity: 1;
    transform: translateY(0);
}